* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-margin-before: auto;
  -webkit-margin-after: auto;
  text-indent: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html {
  font-size: 15px;
}
.container {
  padding: 50px;
}
.breadcrumbs {
  overflow: hidden;
}
.breadcrumbs .crumbs {
  *zoom: 1;
  font-weight: bold;
  width: 999999px;
  background: orange;
  height: 44px;
  overflow: hidden;
}
.breadcrumbs .crumbs:before,
.breadcrumbs .crumbs:after {
  display: table;
  content: "";
}
.breadcrumbs .crumbs:after {
  clear: both;
}
.breadcrumbs .crumbs .crumb {
  -webkit-transition: all .025s linear;
  -moz-transition: all .025s linear;
  -ms-transition: all .025s linear;
  -o-transition: all .025s linear;
  transition: all .025s linear;
  color: #fff;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  float: left;
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.breadcrumbs .crumbs .crumb:last-child .shader {
  box-shadow: none;
}
.breadcrumbs .crumbs .crumb .shader {
  display: block;
  width: 44px;
  height: 44px;
  background: black;
  position: absolute;
  top: 0;
  right: -88px;
  box-shadow: 0 0 45px 5px #332100;
}
