
    .container
      .infowrap-breadcrumbs
        .crumbs
          .crumb Files
          .crumb Vehicula Tortor
          .crumb Nullam Vestibulum Amet
          .crumb Ullamcorper
          .crumb Cras Magna
          .crumb Ornare Dapibus
          .crumb Parturient Fusce Lorem
    script(src='bower_components/jquery/jquery.js')
    script(src='js/breadcrumbs.js')
    script(src='js/example.js')



