
@import "boilerplate/mixins.less";

.infowrap-breadcrumbs {
  color: #fff;
  overflow: hidden;
  height: 44px;
  position: relative;

  .crumbs {
    .clearfix;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    width: 999999px;
    background: orange;
    height: 44px;
    overflow: hidden;

    .crumb {
      height: 44px;
      line-height: 44px;
      padding: 0 round(44px * .333); // needs to be communicated to JS
      float: left;
      display: inline-block;
      position: relative;
      overflow: hidden;
      white-space: nowrap;

      &:last-child {

        .shader {
          box-shadow: none;
        }
      }

      .shader {
        display: block;
        width: 44px;
        height: 44px;
        background: black;
        position: absolute;
        top: 0;
        right: -88px;
        box-shadow: 0 0 45px 5px darken(orange, 40%);
      }
    }
  }
}
